.profile-link-item {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

.profile-link-item:hover {
  color: var(--color-like);
}

.active {
  border-bottom: 2px solid var(--color-border-bottom-btn);
}

.profile-link-main {
  @media (max-width: 1020px) {
    display: none;
  }
}

.profile-link-mpbile {
  display: none;
  @media (max-width: 1020px) {
    display: block;
  }
}

.profile-link-mpbile svg path {
  transition: 0.2s ease-in-out;
}

.profile-link-mpbile:hover svg path {
  fill: var(--color-like);
}
