.genre {
  padding-top: 64px;
  color: #fff;
  margin-bottom: 64px;
  @media (max-width: 750px) {
    padding-top: 16px;
    margin-bottom: 40px;
  }

  &__title {
    display: inline-block;

    margin-bottom: 64px;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
    @media (max-width: 750px) {
      margin-bottom: 40px;
    }

    &__btn-back {
      display: flex;
      align-items: center;
      gap: 17px;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
    }

    &__span {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      @media (max-width: 750px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  &__title:hover {
    color: rgba(180, 169, 255, 1);
    border-bottom: 2px solid rgba(220, 93, 252, 1);
  }

  &__title button svg path {
    transition: 0.2s ease-in-out;
  }

  &__title:hover button svg path {
    fill: rgba(180, 169, 255, 1);
  }

  &__load-btn {
    display: flex;
    justify-self: center;
    margin-top: 64px;
    padding: 16px 48px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 28px;
    background: rgb(103, 165, 235);
  }

  &__load-btn:hover {
    background-color: #89befc;
  }
}
