.profile {
  padding-top: 64px;
  @media (max-width: 750px) {
    padding-top: 16px;
  }

  &__title {
    margin-bottom: 72px;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    @media (max-width: 750px) {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__wrap {
    &__menu {
      display: flex;
      margin-bottom: 72px;
      gap: 64px;
      @media (max-width: 750px) {
        gap: 24px;
        margin-bottom: 40px;
      }

      &__btn {
        align-items: baseline;
        display: flex;
        border-bottom: 2px solid transparent;
        transition: 0.2s ease-in-out;

        &:hover {
          .profile__wrap__menu__btn__icon path {
            transition: 0.2s ease-in-out;
            fill: rgba(180, 169, 255, 1);
          }

          .profile__wrap__menu__btn__text {
            transition: 0.2s ease-in-out;
            color: rgba(180, 169, 255, 1);
          }
        }

        &__icon {
          margin-right: 12px;
        }

        &__icon path {
          transition: 0.2s ease-in-out;
          margin-right: 12px;
        }

        &__text {
          color: #fff;
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
          transition: 0.2s ease-in-out;
          @media (max-width: 750px) {
            display: none;
          }
        }
      }

      &__empty-list {
        margin-bottom: 72px;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
      }
    }
  }
}

.active {
  border-bottom: 2px solid rgba(220, 93, 252, 1);
}

.profile-mobile {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  transition: 0.2s ease-in-out;
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
}
