.trailer-modal {
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 5000;
  background: rgba(10, 11, 11, 0.9);
}

.trailer-wrap {
  position: relative;
  width: 80vw;
  height: 45vw;
  max-width: 960px;
  max-height: 540px;
  @media (max-width: 750px) {
    width: 100vw;
    height: 50vw;
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
    @media (max-width: 1020px) {
      width: 64px;
      height: 64px;
    }

    &__play {
      margin-left: 7px;
    }
  }

  &__close-btn {
    position: absolute;
    right: -74px;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;

    @media (max-width: 1020px) {
      right: -50px;
      width: 32px;
      height: 32px;
    }

    @media (max-width: 750px) {
      top: 16px;
      right: 16px;
      width: 32px;
      height: 32px;
    }
  }

  &__title-overlay {
    position: absolute;
    display: flex;
    top: 80%;
    left: 24px;
    padding: 24px 40px;
    width: calc(100% - 48px);
    background: rgba(10, 11, 11, 0.5);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    z-index: 10;
    @media (max-width: 750px) {
      left: 0;
      width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &.paused {
    .trailer-wrap__play-btn,
    .trailer-wrap__close-btn {
      opacity: 1;
    }
  }

  @media (pointer: coarse) {
    &:not(.paused) {
      .trailer-wrap__play-btn,
      .trailer-wrap__close-btn {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  @media (pointer: fine) {
    &:hover:not(.paused) {
      .trailer-wrap__play-btn,
      .trailer-wrap__close-btn {
        opacity: 1;
      }
    }
  }
}

.youtube-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
